{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css" integrity="sha512-KuSX+43gVS5MEIJD2ewtrFPOHqC1PJnL8o2f5ciggPC0JUZ8XV0QXlfArO1mSzKkVFdRjsBDfrTU96C5SuRfqQ==" crossorigin="anonymous" />
    <style>
      .btn-shift {
        margin-top: -6px;
      }
      .floating-panel {
        display: none;
        background-color: #FFFFFF7F;
        width: max-content;
        padding: 8px;
        pointer-events: none;
        z-index: 1030;
      }
      .floating-panel div {
        line-height: 18px;
        height: 18px;
      }
    </style>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js" integrity="sha512-rjmacQUGnwQ4OAAt3MoAmWDQIuswESNZwYcKC8nmdCIxAVkRC/Lk2ta2CWGgCZyS+FfBWPgaO01LvgwU/BX50Q==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js" integrity="sha512-1aNp9qKP+hKU/VJwCtYqJP9tdZWbMDN5pEEXXoXT0pTAxZq1HHZhNBR/dtTNSrHO4U1FsFGGILbqG1O9nl8Mdg==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako_inflate.min.js" integrity="sha512-fgc3x4jhafjzc+RLRBO+llDWTvHZdOmpQU3qU7iZ5Qm0nZ9KWPGytu3j06tcm4ZZ2jf6fCz/oSK7KrILK5K+AA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{% static 'lightweight-charts.standalone.production.js' %}"></script>
    <script defer src="{% static 'main.js' %}"></script>
    <title>Practice Your Price Action Skill</title>
</head>
<body>
<div class="container-fluid mt-3 clearfix">
  <div class="dropdown d-inline-flex">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Ticker
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="ticker-selector">
      {% for ticker in tickers %}
      <button class="dropdown-item" type="button">{{ ticker }}</button>
      {% endfor %}
    </div>
  </div>
  <label class="mx-3 text-monospace font-weight-bold h5" style="width: 3ch" id="current-ticker"></label>
  <div class="form-group d-inline-flex">
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="datetimepicker-input" maxlength="16" style="width: 20ch"/>
    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
  <label class="text-monospace ml-2 mr-2" id="day-of-week" title="Day of Week"></label>
  <button type="button" class="btn btn-primary btn-shift mr-0 px-3 py-1.5" id="stepback-button" title="Stepback 1 bar&#013;(Hotkey: Z / ←)"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-primary btn-shift mr-0 px-3 py-1.5" id="step-button" title="Step 1 bar&#013;(Hotkey: Space / →)"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-primary btn-shift mr-1 py-1.5" id="fast-forward-button" title="Fast forward 24 bars&#013;(Hotkey: F)"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-primary btn-shift mr-1 py-1.5" id="create-alert-button" data-toggle="modal" data-target="#createAlertModal" title="Create alert&#013;(Hotkey: Shift+A)"><i class="fa fa-bell" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-success btn-shift text-monospace mr-0 px-3 py-1.5" id="buy-button" title="Buy market&#013;(Hotkey: Shift+B)&#013;&#013;(💡 Tip: To place a Buy order, hover over the charts and press hotkey &quot;B&quot;.)">B</button>
  <button type="button" class="btn btn-danger btn-shift text-monospace mr-1 px-3 py-1.5" id="sell-button" title="Sell market&#013;(Hotkey: Shift+S)&#013;&#013;(💡 Tip: To place a Sell order, hover over the charts and press hotkey &quot;S&quot;.)">S</button>
  <label class="mx-1 d-inline-flex mr-auto" id="message"></label>
  <div class="float-right">
    <a href="" target="_blank" id="freeze-status-link"><button type="button" class="btn btn-secondary" id="freeze-status-link-button" title="Open link to current ticker and timestamp snapshot"><i class="fa fa-link" aria-hidden="true"></i></button></a>
    <button type="button" class="btn btn-secondary ml-1" id="options-button" title="Options" data-toggle="modal" data-target="#optionsModal"><i class="fa fa-cog" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-info ml-1" id="help-button" title="Help" data-toggle="modal" data-target="#helpModal"><i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex flex-row flex-nowrap justify-content-between">
    <div id="chart1"></div>
    <div id="chart2"></div>
  </div>
  <div class="row mt-2">
    <div class="col d-flex justify-content-between">
      <div class="ml-1">
        <input type="checkbox" id="info-panel-checkbox" name="info-panel-checkbox">
        <label for="info-panel-checkbox" title="Display info panel&#013;(Hotkey: D)">Panel</label>
      </div>
      <button type="button" class="btn btn-dark btn-lg" id="fit-chart1-button" title="Fit price scales to H1 chart&#013;(Hotkey: Q)">Fit H1</button>
      <button type="button" class="btn btn-lg invisible">inv</button>
    </div>
    <div class="col d-flex justify-content-between">
      <button type="button" class="btn btn-lg invisible">inv padding</button>
      <button type="button" class="btn btn-dark btn-lg" id="fit-chart2-button" title="Fit price scales to M5 chart&#013;(Hotkey: W / E)">Fit M5</button>
      <button type="button" class="btn btn-dark btn-lg" id="reset-scales-button" title="Reset all time and price scales&#013;(Hotkey: R)">Reset Scales</button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <ul class="list-group" id="alerts-ul" title="Hover over the charts and press hotkey &quot;A&quot; to create an alert"></ul>
    </div>
    <div class="col">
      <ul class="list-group" id="orders-ul" title="Hover over the charts and press hotkey &quot;B&quot; or &quot;S&quot; to place an order"></ul>
    </div>
    <div class="col">
      <ul class="list-group" id="positions-ul"></ul>
    </div>
  </div>
</div>

<div id="chart1-resizer" class="position-absolute text-light user-select-none" style="z-index: 1030">⇲</div>
<div id="chart2-resizer" class="position-absolute text-light user-select-none" style="z-index: 1030">⇲</div>

<div class="modal fade" id="createAlertModal" aria-labelledby="createAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createAlertModalLabel">Create Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid form-group">
          <input type="number" class="form-control" id="alert-price" name="alert-price" value="0" min="0" step="1"/>
          <small class="form-text text-muted">💡 Tip: You can also hover over the charts and press hotkey <span class="font-weight-bold">A</span> to add an alert.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="create-alert-confirm-button">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="optionsModal" aria-labelledby="optionsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="optionsModalLabel">Chart Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mt-1">
            <div class="col"><label for="default-ticker-select">Default ticker:</label></div>
            <div class="col">
              <select id="default-ticker-select" class="w-50">
                {% for ticker in tickers %}
                <option value="{{ ticker }}">{{ ticker }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col"><label for="utc-time-offset">UTC time offset:</label></div>
            <div class="col"><select id="utc-time-offset" class="w-50"></select></div>
          </div>
          <div class="row mt-1">
            <div class="col">Mute sound:</div>
            <div class="col"><input type="checkbox" id="mute-sound-checkbox"/></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="row mt-4">
            <div class="col">Background:</div>
            <div class="col"><input type="text" id="color-bg"/></div>
            <div class="col">Axes text:</div>
            <div class="col"><input type="text" id="color-axes-text"/></div>
          </div>
          <div class="row mt-1">
            <div class="col">Daily open price <abbr title="To hide this line, set its color the same as Background's."><i class="fa fa-question-circle-o" aria-hidden="true"></i></abbr>:</div>
            <div class="col"><input type="text" id="color-dailyOpenPrice"/></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="row mt-4">
            <div class="col">Body up:</div>
            <div class="col"><input type="text" id="color-upColor"/></div>
            <div class="col">Body down:</div>
            <div class="col"><input type="text" id="color-downColor"/></div>
          </div>
          <div class="row mt-1">
            <div class="col">Wick up:</div>
            <div class="col"><input type="text" id="color-wickUpColor"/></div>
            <div class="col">Wick down:</div>
            <div class="col"><input type="text" id="color-wickDownColor"/></div>
          </div>
          <div class="row mt-1">
            <div class="col">Border up:</div>
            <div class="col"><input type="text" id="color-borderUpColor"/></div>
            <div class="col">Border down:</div>
            <div class="col"><input type="text" id="color-borderDownColor"/></div>
          </div>
          <div class="row mt-4">
            <div class="col">H1 <abbr title="Simple Moving Average">SMA</abbr> period <abbr title="To hide SMA, set its period as 0."><i class="fa fa-question-circle-o" aria-hidden="true"></i></abbr>:</div>
            <div class="col"><input type="number" value="0" min="0" step="1" class="w-50" id="sma11-period" required/></div>
            <div class="col">H1 SMA:</div>
            <div class="col"><input type="text" id="color-sma11"/></div>
          </div>
          <div class="row mt-4">
            <div class="col">SMA#1 period:</div>
            <div class="col"><input type="number" value="0" min="0" step="1" class="w-50" id="sma21-period" required/></div>
            <div class="col">SMA#1:</div>
            <div class="col"><input type="text" id="color-sma21"/></div>
          </div>
          <div class="row mt-1">
            <div class="col">SMA#2 period:</div>
            <div class="col"><input type="number" value="0" min="0" step="1" class="w-50" id="sma22-period" required/></div>
            <div class="col">SMA#2:</div>
            <div class="col"><input type="text" id="color-sma22"/></div>
          </div>
          <div class="row mt-1">
            <div class="col">SMA#3 period:</div>
            <div class="col"><input type="number" value="0" min="0" step="1" class="w-50" id="sma23-period" required/></div>
            <div class="col">SMA#3:</div>
            <div class="col"><input type="text" id="color-sma23"/></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id='new-url' class="w-100"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpModal" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" style="min-width: 520px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <img class="img-responsive center-block" src="{% static 'help_cht.jpg' %}" loading="lazy" width="453" height="710"/>
        </div>
        <fieldset class="container-fluid mt-4">
          <legend>Hotkeys</legend>
          <ul>
            <li><span class="text-monospace bg-light border rounded px-1">Space</span>/<span class="text-monospace bg-light border rounded px-1">→</span>: Step one bar</li>
            <li><span class="text-monospace bg-light border rounded px-1">F</span>: Fast forward 24 bars, or until triggers an alert/order</li>
            <li><span class="text-monospace bg-light border rounded px-1">Z</span>/<span class="text-monospace bg-light border rounded px-1">←</span>: Stepback one bar</li>
            <li>Hover over the charts:
              <ul>
                <li><span class="text-monospace bg-light border rounded px-1">A</span>: Alert</li>
                <li><span class="text-monospace bg-light border rounded px-1">B</span>: Buy order</li>
                <li><span class="text-monospace bg-light border rounded px-1">S</span>: Sell order</li>
                <li><span class="text-monospace bg-light border rounded px-1">D</span>: Display info panel</li>
                <li><span class="text-monospace bg-light border rounded px-1">G</span>: Go to hovered time</li>
              </ul>
            </li>
            <li>Scales:
              <ul>
                <li><span class="text-monospace bg-light border rounded px-1">Q</span>: Fit to left chart</li>
                <li><span class="text-monospace bg-light border rounded px-1">W</span>/<span class="text-monospace bg-light border rounded px-1">E</span>: Fit to right chart</li>
                <li><span class="text-monospace bg-light border rounded px-1">R</span>: Reset all scales</li>
              </ul>
            </li>
          </ul>
        </fieldset>
      </div>
      <div class="modal-footer">
        <div class="text-center w-100">
          <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/randalhsu/OPAL">OPAL</a> Project<br/>
          Made with ❤ by Randal
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container floating-panel position-absolute rounded border border-secondary text-monospace font-weight-light" id="info-panel"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>